/* ----- Blog ----- */

$margin: 2vh;

#blog {
  & > ul,
  & > ol {
    margin: 20px 0;
  }

  li {
    line-height: 34px;
    position: relative;
    left: -6px;
    padding-left: 20px;

    &::before {
      content: "";
      background: rgba(46,204,113,1);
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 6px;
    }
  }

  ul {
    margin-top: $margin;
    list-style-type: none;
    border-left: solid 6px rgba(46,204,113,.25);

    li {

      &:not(:last-child) {
        margin-bottom: $margin;
      }
    }
  }

  ol {
    @extend ul;
    list-style: decimal inside;
  }

  p {
    margin-top: $margin;
  }

  h2 {
    margin-top: $margin;
  }

  blockquote {

    p {
      margin-top: 0;
    }
  }

  img {
    margin-top: $margin;
  }

  .blog-post {
    position: relative;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    vertical-align: middle;
  }

  .blog-text {
    position: relative;
    width: 100%;
    max-width: 960px;
    text-align: left;
    margin: 0 auto;
    padding: 40px;
  }

  .blog-banner-img {
    margin-top: 0;
    width: 100%;
    height: 55vw;
    max-height: 75vh;
    background-position: center center;
  }

  .blog-information {
    display: inline;
    font-size: 80%;
    font-weight: 600;
    text-transform: uppercase;
    vertical-align: baseline;
  }

  .blog-title {
    display: flex;
    align-items: flex-start;
    width: 100%;

    h1 {
      font-size: 175%;
      margin: 0;
    }
  }

  .more-text {
    display: none;
  }
}
