/* ----- Footer ----- */

footer {

  a {
    font-family: "Raleway Light", sans-serif;
    padding: 0 10px;
    transition: all .15s ease-in-out;

    &:hover {
      padding: 10px;
      overflow: hidden;
    }
  }
}
