/* ----- Work ----- */

#work {
  overflow: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;

  .work-item {
    flex: 1 1 auto;
    width: calc(50% - 40px);
    min-width: 400px;
    position: relative;
    margin: 20px;
    background: #fff;
    box-shadow: 0 10px 6px -6px rgba(0,0,0,.15);
    border: 1px solid rgba(0,0,0,.1);
    transition: all 0.2s ease-out;

    .work-image-gallery {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: flex-start;

      img {
        cursor: hand;
        margin: 10px;
        flex: 0 1 auto;
        width: calc(25% - 20px);
        min-width: 80px;
        height: 80px;
      }
    }

    .work-information {
      padding: 20px;

      h3 {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}
