/* ----- Base Elements ----- */

body {
  background-color: #f5f5f5;
  color: #666;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.33;

  & > h1,
  & > h2,
  & > h3 {
    position: relative;
    font-weight: 300;
    color: #fff;
    display: inline-block;
    background: #2ecc71;
    padding: 14px 30px;
    box-shadow: 0 10px 6px -6px rgba(0,0,0,0.05);

    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 100%;
      width: 0;
    	height: 0;
    	border-bottom: 72px solid #2ecc71;
    	border-right: 30px solid transparent;
    }
  }
}

/* ----- Typographical Elements ----- */

h1,
h2,
h3 {
  font-family: "Raleway Light", sans-serif;
  color: #333;
}

h1 {
  margin: 16px 0;
  font-size: 250%;
  line-height: 1.141;
  letter-spacing: 0px;
}

h2 {
  font-size: 200%;
  line-height: 1.1;
  letter-spacing: -1px;
}

h3 {
  font-size: 150%;
  line-height: 1.3;
}

p {
  font-family: "Lato", sans-serif;
  font-size: 100%;
  line-height: 1.7;

  img {
    opacity: 1;

    .half {
      width: 50%
    }
  }
}

a {
  padding: 0 4px;
  overflow: hidden;
  color: #2ecc71;
  font-weight: 300;
  text-decoration: none;
  transition: all .1s ease-in-out;

  &:hover {
    padding: 4px 4px;
    background-color: #2ecc71;
    font-weight: 300;
    color: #fff;
  }
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, .25), rgba(0, 0, 0, 0));
}

u,
ins {
  text-decoration: underline;
}

img {
  opacity: 0;
  transition: opacity .2s ease-in;
  object-fit: cover;
  object-position: center center;
  width: 100%;
  overflow: hidden;
}

q {

}

blockquote {
  border-left: 8px solid #2ecc71;
  padding: 10px 20px;
  margin: 20px 0;
  background-color: #fff;
  outline: 1px solid rgba(0,0,0,0.15);
  transition: all .1s ease-in-out;

  &:hover {
    box-shadow: 0 10px 6px -3px rgba(0,0,0,0.15);
  }

  p {
    color: #666;
  }
}

ul,
ol {
  list-style-type: none;
}

kbd {
  font-family: monospace;
  border: 1px solid #aaa;
  border-radius: 4px;
  display: inline-block;
  margin: 0 4px;
  padding: 2px 12px;
  background: linear-gradient(178deg, #fff, #fff, #fff, #ddd);
}
